<h3>Restaurants Guide</h3>

{{#each restaurants}}
<div class="card sticky-action">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="img" src="{{img}}">
  </div>
  <div class="card-action">
    <span class="card-title activator grey-text text-darken-4">{{name}}<i class="right">More info</i></span>
    <p><a href="https://www.yankeesshop.team">This is a link</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">{{name}}<i class="right">close</i></span>
    <p>Address: {{address.streetAddress}}</p>
    <p>Phone: {{phone}}</p>
    <p>Price: {{price}}</p>
    <p>Clients Average: {{stars}}</p>
  </div>
</div>
{{/each}}