{{!-- <h3>Restaurant tal</h3>

<div class="parallax-container">
    <div class="parallax"><img src="{{singleRest.img}}"></div>
</div>

<p>Address: {{singleRest.address.streetAddress}}</p>
<p>Phone: {{singleRest.phone}}</p>
<p>Price: {{singleRest.price}}</p>
<p>Clients Average: {{singleRestStars0}}</p> --}}
<div class="parallax-container">
    <div class="parallax"><img src="/{{singleRest.img}}"></div>
    <div class="parallax-container center valign-wrapper">
    <div class="container">
    <div class="row">
      <div class="col s12 white-text">
        <h2 class="black-text">Parallax Template</h2>
        {{!-- <p>A modern responsive front-end framework based on Material Design</p>
        <a class="waves-effect waves-light btn-large teal lighten-2">Get Started</a> --}}
      </div>
      </div>
      </div>
      </div>
</div>
<div class="section white">
    <div class="row container">


        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this
            case, is moved at a different speed than the foreground content while scrolling.</p>
        <p></p>
    </div>
    <div class="container">
        <div id="map" class="center">

        </div>
    </div>

</div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="/img/carne.jpg"></div>
</div>

<script type="text/javascript">

    function initMap() {
        const myLatLng = {
            lat: {{singleRest.loc.[0]}},
            lng: {{singleRest.loc.[1]}}
        };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 17,
            center: myLatLng,
        });
        new google.maps.Marker({
            position: myLatLng,
            map,
            title: "{{singleRest.name}}",
        });
    }
</script>