{{!-- <h3>Restaurant tal</h3>

<div class="parallax-container">
    <div class="parallax"><img src="{{singleRest.img}}"></div>
</div>

<p>Address: {{singleRest.address.streetAddress}}</p>
<p>Phone: {{singleRest.phone}}</p>
<p>Price: {{singleRest.price}}</p>
<p>Clients Average: {{singleRestStars0}}</p> --}}
<div class="parallax-container">
    <div class="parallax"><img src="/{{singleRest.img.[0]}}"></div>
    <div class="parallax-container center valign-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 white-text">
                    <h2 id="sRestTit" class="black-text z-depth-5">{{singleRest.name}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section white">
    <div class="row">
        <div class="container">
            <div class="col s4">
                <div class="center promo promo-example">
                    <i class="fas fa-map-marked-alt fa-5x"></i>
                    <h5 class="promo-caption">Location</h5>
                    <p class="light center">{{singleRest.address.streetAddress}}, {{singleRest.address.postalCode}}<br/>{{singleRest.address.addressLocality}}<br/>{{singleRest.address.addressRegion}}</p>
                </div>
            </div>
            <div class="col s4">
                <div class="center promo promo-example">
                    <i class="fas fa-envelope-square fa-5x"></i>
                    <h5 class="promo-caption">Contact</h5>
                    <p class="light center">
                    <a href="mailto:{{singleRest.email}}">{{singleRest.email}}</a><br/>
                    <a href="http://{{singleRest.web}}">{{singleRest.web}}</a><br/>
                    <a href="tel:+34{{singleRest.phone}}">{{singleRest.phone}}</a>
                    </p>
                </div>
            </div>
            <div class="col s4">
                <div class="center promo promo-example">
                    <i class="fas fa-euro-sign fa-5x"></i>
                    <h5 class="promo-caption">Price Index</h5>
                    <p class="light center" id="priceIndex"></p>
                    <script>
                    var str = "{{singleRest.price}}"
                    for (var i = 0; i < str.length; i++) {
                        // alert(str.charAt(i));
                        // document.getElementById('priceIndex').innerHTML = '€'
                        // var node = document.createElement("IMG");
                        var node = document.createElement("I");
                        node.className = "fas fa-euro-sign"    
                        // node.src = '/img/fork-svgrepo-com.svg'  
                        // node.style.width = '30px'   
                        node.style.fontSize = '30px'   
                        // node.style.color = 'rgb(255,215,0)'       
                        var textnode = document.createTextNode("");        
                        node.appendChild(textnode);                           
                        document.getElementById("priceIndex").appendChild(node);   
                        document.getElementById("priceIndex").innerHTML += ' ';
                    }
                    var of5 = document.createTextNode(" /5");   
                    document.getElementById("priceIndex").appendChild(of5)
                    </script>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div id="map" class="center">

        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="/{{singleRest.img.[1]}}"></div>
</div>

<div class="section grey lighten-3 center">
    <img src="/img/logoyankeesfork.png" id="l1">
</div>

<script type="text/javascript">

    function initMap() {
        const myLatLng = {
            lat: {{singleRest.address.loc.[0]}},
            lng: {{singleRest.address.loc.[1]}}
        };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 17,
            center: myLatLng,
        });
        new google.maps.Marker({
            position: myLatLng,
            map,
            title: "{{singleRest.name}}",
        });
    }
</script>